body{
    font-family: 'Courier Prime', monospace;
    font-weight: 400;
}
main{
    flex-grow: 1;
}


.sup_head{
    background-color: rgb(237, 237, 237);
    margin-bottom: 20px;
    margin-top: 5px;
}
.main_head{
    margin-bottom: 10px;
}
h1 {
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.h1_stroke{
    display: inline-block;
    background-color: red;
}
.collection_name{
    margin-bottom: 5px;
}



/* center */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 16px;
}

.main_content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.gallery{
    margin-top: 0px;
    display: flex;
    overflow-x:scroll;
    overflow: hidden;
}



/* cut gallery*/
.box {
    position:relative;
    overflow:hidden;
    min-width:80px;
    height:400px;
    margin-right: 1px;
    transition: min-width 0.5s;
}
.box img {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:400px;
    height:400px;
    object-fit:cover;
}

.box:hover{
    min-width: 400px;
    height: 400px;
}

.descr{
    margin-top: 0px;
}

.descr-content{
    display: none;
    
}
.descr-content.shown { 
    display: block;
    display: flex;
    align-items:baseline;
    justify-content:space-between;
}
.descr_traits{
    width: 399px;
}

footer{
    display: flex;
    align-items: center;
    justify-content:space-between;
    color: gray;
}
a{
    color: black;
    text-decoration: none;
    
}
a:hover{
    border-bottom: 1px solid black;
}
